@media (min-width: 1024px) {
  html {
    font-size: 16px; } }
@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 14px; } }

body {
  line-height: 1.5;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 20px 0; }

h3 {
  font-size: 1.4rem;
  margin: 0 0 10px; }

h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 0 10px 0; }

p {
  margin: 0 0 20px 0; }

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center; }

figcaption {
  display: block;
  text-align: center;
  font-size: 14px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.example {
  margin: 0 auto;
  padding: 20px 0; }
  .example:after {
    clear: both;
    content: '';
    display: block; }
  @media (min-width: 1024px) {
    .example {
      width: 960px; } }
  @media (min-width: 1360px) {
    .example {
      width: 1200px; } }
  @media (min-width: 240px) and (max-width: 1023px) {
    .example {
      width: 100%; } }
  @media (min-width: 1360px) {
    .example {
      padding: 30px 0; } }
  .example article {
    margin: 0 auto;
    width: 100%; }
    .example article:after {
      clear: both;
      content: '';
      display: block; }
    .example article header {
      box-sizing: border-box;
      float: left; }
      @media (min-width: 1024px) {
        .example article header {
          width: 33.33%; } }
      @media (min-width: 600px) {
        .example article header {
          padding: 0 10px; } }
      @media (min-width: 600px) and (max-width: 1023px) {
        .example article header {
          width: 100%; } }
      @media (min-width: 240px) and (max-width: 599px) {
        .example article header {
          width: 33.33%; } }
    .example article p {
      box-sizing: border-box;
      float: left; }
      @media (min-width: 1024px) {
        .example article p {
          width: 33.33%; } }
      @media (min-width: 600px) {
        .example article p {
          padding: 0 10px; } }
      @media (min-width: 600px) and (max-width: 1023px) {
        .example article p {
          width: 50%; } }
      @media (min-width: 240px) and (max-width: 599px) {
        .example article p {
          width: 50%; } }
    .example article a {
      box-sizing: border-box;
      float: left; }
      @media (min-width: 1024px) {
        .example article a {
          width: 33.33%; } }
      @media (min-width: 600px) {
        .example article a {
          padding: 0 10px; } }
      @media (min-width: 600px) and (max-width: 1023px) {
        .example article a {
          width: 50%; } }
      @media (min-width: 240px) and (max-width: 599px) {
        .example article a {
          width: 50%; } }
  .example .articles {
    float: left; }
    @media (min-width: 1024px) {
      .example .articles {
        margin: 0 10px;
        width: 620px; } }
    @media (min-width: 1360px) {
      .example .articles {
        margin: 0 15px;
        width: 770px; } }
    @media (min-width: 240px) and (max-width: 1023px) {
      .example .articles {
        box-sizing: border-box;
        padding: 0 10px; } }
    @media (min-width: 600px) and (max-width: 1023px) {
      .example .articles {
        width: 66.66%; } }
    @media (min-width: 240px) and (max-width: 599px) {
      .example .articles {
        width: 100%; } }
  .example .aside {
    float: left; }
    @media (min-width: 1024px) {
      .example .aside {
        margin: 0 10px;
        width: 300px; } }
    @media (min-width: 1360px) {
      .example .aside {
        margin: 0 15px;
        width: 370px; } }
    @media (min-width: 240px) and (max-width: 1023px) {
      .example .aside {
        box-sizing: border-box;
        padding: 0 10px; } }
    @media (min-width: 600px) and (max-width: 1023px) {
      .example .aside {
        width: 33.33%; } }
    @media (min-width: 240px) and (max-width: 599px) {
      .example .aside {
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
