// import all helpers
//
@import "../base";

//
// dependencies: 
// grid-helper-classes
//
@import "../../modules/grid-helper-classes/base";
// this options are disabled for default.
@include generate-pre-col($grid);
@include generate-suf-col($grid);

// basic styles
body {
	font-family: 'Roboto', serif, arial;
}

.container .container {
	background-color: rgb(247, 247, 247);
}

.box {
	background-color: rgb(204, 204, 204);
	color: white;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}		

.note {
	background-color: #c6538c;
	border-radius: 2px;
	color: white;
	display: inline-block;
	padding: 10px;
}

code {
	background-color: rgb(247, 247, 247);
	color: #333;
	padding: 4px 8px;
}