// import all helpers
//
@import "../base";

// dependencies: grid-internal
@import "../../modules/grid-system/base";

// basic styles
body {
	font-family: 'Roboto', serif, arial;
}

.container .container {
	background-color: rgb(247, 247, 247);
}

.box {
	background-color: rgb(204, 204, 204);
	color: white;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}		

.note {
	background-color: #c6538c;
	border-radius: 2px;
	color: white;
	display: inline-block;
	padding: 10px;
}

code {
	background-color: rgb(247, 247, 247);
	color: #333;
	padding: 4px 8px;
}

// stuff example grid.

.example-grid, .example-inner-grid, .example-sufpre-grid {
	@include container();
	@include row();

	& > header {
		@include col(12);
	}
}

.example-grid {
	@include container();
	@include row();

	& > header {
		@include col(12);
	}

	.content12 {
		@include col(12);
	}

	.content6 {

		&.first, &.two {
			@include col(6, "one-third", "half");
		}
		&.three {
			@include col(6, "one-third", "full");
		}
		&.four {
			@include col(6, "full");
		}	
		&.five, &.six {
			@include col(6, "half");
		}
	}

	.content4 {

		&.first {
			@include col(4, "one-third");
		}
		&.two {
			@include col(4, "two-thirds");
		}
	}

	.content2 {

		&.first, &.two {
			@include col(2, "half")
		}
	}
}

.example-inner-grid {
	@include container();
	@include row();

	& > header {
		@include col(12);
	}

	.wrap {
		@include inner-container();
	}

	.content6 {

		&.first, &.two {
			@include col(6, "full");
		}
	}

	.inner-content3 {

		&.first, &.two, &.three {
			@include inner-col("one-third", "one-third", "full");
		}

		&.four, &.five {
			@include inner-col("half");
		}
	}
}

.example-sufpre-grid {

	.content8 {
		@include col(8);

		&.first, &.five {
			@include gutter(4, "pre");
		}
		&.two, &.four {
			@include gutter(2, "suf");
		}
		&.three {
			@include gutter(4, "suf");
		}
 	}
}