// generate inner columns
// use calc-col-percentage functions.
//
// @param $option-large (full | half | two-thirds | one-third)
// @param $option-medium (full | half | two-thirds | one-third)
// @param $option-small (full | half | two-thirds | one-third)
// 
// @include inner-col("half", "full");
// 

@mixin inner-col($option-large: "full", $option-medium: $option-large, $option-small: $option-medium) {
	@include box-sizing();
	float: left;

	@include breakpoint(large) {
		width: calc-col-percentage($option-large);
	}

	@include breakpoint(medium-to-large) {
		padding: 0 10px;
	}

	@include breakpoint(medium) {
		width: calc-col-percentage($option-medium)
	}

	@include breakpoint(small) {
		width: calc-col-percentage($option-small)
	}
}