// width Container
// use calc-container function.
//
// @include container();
// 
@mixin container() {
	margin: 0 auto;
	  
	@include breakpoint('large') {
		width: calc-container(map-fetch($config-grid, grid col-width), map-fetch($config-grid, grid col-qty), map-fetch($config-grid, grid gutter));
	}

	@include breakpoint('xlarge') {
		width: calc-container(map-fetch($config-grid, grid big-col-width), map-fetch($config-grid, grid col-qty), map-fetch($config-grid, grid big-gutter));
	}  

	@include breakpoint('>=small<=medium') {
		width: 100%;
	} 	
	
	&:after {
	    clear: both;  
	    content: '';
	    display: block;
	}
}