// generate padding for containers.
//
// @param $amount
// @param $position (full | bottom | top)
//
// @include row(1);
// 

@mixin row($amount: 1, $position: full) {
	$bases: (
		big: 30px,
		normal: 20px
	);

	$row: calc-row(map-get($bases, normal), $amount);
	$row-big: calc-row(map-get($bases, big), $amount);

	@if $position == "full" {
		padding: $row 0;
		
		@include breakpoint(big-desktop) {
			padding: $row-big 0;
		}

	} @else if $position == "bottom" {
		padding: 0 0 $row; 

		@include breakpoint(big-desktop) {
			padding: 0 0 $row-big; 
		}
	} @else if $position == "top" {
		padding: $row 0 0;

		@include breakpoint(big-desktop) {
			padding: $row-big 0 0;	
		}		
	} @else {
		@error "Position value (#{$position}) is unknown";
	}
}