// generate margin-left
// use calc-gutter-extra function
//
// @param $col
// 
// @include pre(12);
// 

@mixin pre($col) {
	@include breakpoint(large) {
		margin-left: calc-gutter-extra($col, map-fetch($config-grid, grid col-width), map-fetch($config-grid, grid gutter));
	}

	@include breakpoint(xxx-large) {
		margin-left: calc-gutter-extra($col, map-fetch($config-grid, grid big-col-width), map-fetch($config-grid, grid big-gutter));
	}
}

// generate margin-right
// use calc-gutter-extra function
//
// @param $col
// 
// @include suf(12);
// 

@mixin suf($col) {
	@include breakpoint(large) {
		float: right;
		margin-right: calc-gutter-extra($col, map-fetch($config-grid, grid col-width), map-fetch($config-grid, grid gutter));
	}

	@include breakpoint(xxx-large) {
		margin-right: calc-gutter-extra($col, map-fetch($config-grid, grid big-col-width), map-fetch($config-grid, grid big-gutter));
	}	
}

// generate gutter extra
// use calc-gutter-extra function
//
// @param $col
// @param $type (pre | suf)
// 
// @include gutter(12, "pre");
// 

@mixin gutter($col: 12, $type: "pre") {
	@if $col > map-fetch($config-grid, grid col-qty) {
		@error "column number (#{$col}) cannot be higher that the number maximun configured (at present is #{map-fetch($config-grid, grid col-qty)})";
	}

	$types: "pre", "suf";

	@if not has-value($types, $type) {
		@error  'Type value (#{$type}) is unknown';
	}

	@if $type == "pre" {
		@include pre($col);
	} @else if $type == "suf" {
		@include suf($col);
	}
}