// generate container's padding
//
// @param $amount
// @param $position (full | bottom | top)
//
// @include row(1);
// 

@mixin row($position: full, $amount: 1) {
	$bases: (
		big: 30px,
		normal: 20px
	);

	$positions: "full", "bottom", "top";

	@if not has-value($positions, $position) {
		@error 'Position value (#{$position}) is unknown.';
	}

	$row: calc-row(map-get($bases, normal), $amount);
	$row-big: calc-row(map-get($bases, big), $amount);

	@if $position == "full" {
		padding: $row 0;
		
		@include breakpoint('xlarge') {
			padding: $row-big 0;
		}

	} @else if $position == "bottom" {
		padding: 0 0 $row; 

		@include breakpoint('xlarge') {
			padding: 0 0 $row-big; 
		}
	} @else if $position == "top" {
		padding: $row 0 0;

		@include breakpoint('xlarge') {
			padding: $row-big 0 0;	
		}		
	}
}