// Column's generate
// @param $col-qty (column's amount);
// @param $gutter (gutter);
// @param $col-width (column width);
//
// @include generate-col(12, 20px, 60px);
//

@mixin generate-col($col-qty, $gutter, $col-width) {
	@for $i from 2 through $col-qty {
		.col#{$i} {
			float: left;
			margin: 0 $gutter / 2;
			width: ($col-width * $i) + ($gutter * $i) - $gutter;
		}
	}
}

// Prefix Column generate
// @param $col-qty (column's amount);
// @param $gutter (gutter);
// @param $col-width (column width);
//
// @include generate-pre-col(12, 20px, 60px);
//

@mixin generate-pre-col($col-qty, $gutter, $col-width) {
    @for $i from 2 through ($col-qty - 2) {
        .pre#{$i} { 
            margin-left: ($col-width * $i) + ($gutter * $i) + ($gutter / 2);
        }
    }	
}

// Suffix Column generate
// @param $col-qty (column's amount);
// @param $gutter (gutter);
// @param $col-width (column width);
//
// @include generate-suf-col(12, 20px, 60px);
//

@mixin generate-suf-col($col-qty, $gutter, $col-width) {
    @for $i from 2 through ($col-qty - 2) {
        .suf#{$i} { 
            margin-right: ($col-width * $i) + ($gutter * $i);
        }
    }
}

// Container's generate
// @param $col-qty (column's amount);
// @param $gutter (gutter);
// @param $col-width (column width);
//
// @include generate-container(12, 20px, 60px);
//

@mixin generate-container($col-qty, $gutter, $col-width) {
    $wrap: ($col-width * $col-qty) + $gutter * ($col-qty - 1);

    .container {
        margin: 0 auto;
        width: $wrap + $gutter;

        &:after {
            clear: both;
            content: '';
            display: block;
        }   
    }
}