// ----------------------------------------------------------------------

  // Opacity

// ----------------------------------------------------------------------

////
/// @author Manuel Gonzalez
////

///
/// @param $opac amount opacity
/// @param $ie [true] true, false
///
/// @example scss - Basic Usage Sass
///    body {
///      @include include(0.7, true);
///    }
///
/// @example scss - Basic Usage CSS Output
///    body {
///      filter: alpha(opacity=70);
///      -ms-filter: alpha(opacity=70);
///      opacity: 0.7; 
///    }
@mixin opacity($opac, $ie: true) {
  	@if $ie {
    	filter: alpha(opacity=$opac * 100);
    	-ms-filter: alpha(opacity=$opac * 100);
  	}
  	opacity: $opac;
}