// Position
// @param $type (static | absolute | fixed | relative | initial | inherit);
// @param $bottom;
// @param $left;
// @param $right;
// @param $top;
//
// @include position(inherit, 10px, 10px, null, null);
//

@mixin position($type: relative, $bottom: null, $left: null, $right: null, $top: null) {
    
    $args: static, absolute, fixed, relative, initial, inherit;

    @if ($bottom != null) {
        bottom: $bottom;
    }
    @if ($left != null) {
        left: $left;
    }
    @if ($right != null) {
        right: $right;
    }
    @if ($top != null) {
        top: $top;
    }   

    @if has-value($args, $type) == $type {
        position: $type;     
    } @else {
        @warn 'Position value (#{$type}) is unknown';
    }

}