// Generate suffix columns
//
// @param $grid (col-qty, col-width, gutter, big-col-width, big-gutter);
//
// @include generate-suf-col($grid);
//

@mixin generate-suf-col($grid) {
	@for $i from 2 through ($col-qty - 2) {
		.suf#{$i} { 
			@include breakpoint(large) {
				float: right;
				margin-right: (map-get($grid, col-width) * $i) + (map-get($grid, gutter) * $i) + (map-get($grid, gutter) / 2);
			}

			@include breakpoint(xxx-large) {
				margin-right: (map-get($grid, big-col-width) * $i) + (map-get($grid, big-gutter) * $i) + (map-get($grid, big-gutter) / 2);			
			}	
		}
	}
}