// ----------------------------------------------------------------------

  // Position

// ----------------------------------------------------------------------

////
/// @author Manuel Gonzalez
////

/// move item
///
/// @param $type static, absolute, fixed, relative, initial, inherit.
/// @param $values bottom, left, right, top.
///
/// @example scss - Basic Usage Sass
///    body {
///      @include move-item(inherit, 10px, 10px, 10px, 10px);
///    }
///
/// @example scss - Basic Usage CSS Output
///    body {
///      bottom: 10px;
///      left: 10px;
///      right: 10px;
///      top: 10px;
///      position: inherit;
///    }
/// @require {function} has-value 
@mixin move-item($type: relative, $values...) {
    $args: static, absolute, fixed, relative, initial, inherit;

    @if has-value($args, $type) == null {
        @error 'Position value (#{$type}) is unknown';
    }

    position: $type;
    $sides: bottom, left, right, top;

    @if length($values) == 0 {
        @error 'Empty values';
    }
  
    @for $i from 1 through length($values) {
        @if length(nth($values, $i)) == 0 {
            #{nth($sides, $i)}: 0;
        } @else {
            #{nth($sides, $i)}: nth($values, $i);
        }
    }  
}