html {

	@include breakpoint(desktop) {
		font-size: 16px;
	}

	@include breakpoint(responsive) {
		font-size: 14px;
	}
}

body {
	color: map-fetch($colors, themes public text);
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1 {
	color: map-fetch($colors, themes public text);
	font-family: 2rem;
	font-weight: normal;
	margin: 0;
}

h2 {
	color: map-fetch($colors, themes public text);
	font-size: 1.6rem;
	font-weight: normal;
	margin: 0 0 20px 0;
}

h3 {
	color: map-fetch($colors, themes public text);
	font-size: 1.4rem;
	margin: 0 0 10px;
}

h4 {
	color: map-fetch($colors, themes public text);
	font-size: 0.9rem;
	font-weight: normal;
	margin: 0 0 10px 0;
}

p {
	margin: 0 0 20px 0;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}

figcaption {
	display: block;
	text-align: center;
	font-size: 14px;
}

a {
	color: #000;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

.blog {
	@include container();

	.articles {
		@include col(8, "two-thirds", "full");
	}

	aside {
		@include col(4, "one-third", "full");
	}
}