.container {
    margin: 0 auto;

    @include breakpoint('large') {
        width: calc-container($col-qty, map-fetch($config-grid, grid gutter), map-fetch($config-grid, grid col-width)); 
    }

    @include breakpoint('xlarge') {
        width: calc-container($col-qty, map-fetch($config-grid, grid big-gutter), map-fetch($config-grid, grid big-col-width));
    }

    @include breakpoint('>=small<=medium') {
        width: 100%;
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    &.row {

        @include breakpoint('large') {
            padding: 20px 0;
        }

        @include breakpoint('xlarge') {
            padding: 30px 0;
        }

        @include breakpoint('>=small<=medium') {
            padding: 10px 0;
        }        
    }
}