// ----------------------------------------------------------------------

  // Triangle Up

// ----------------------------------------------------------------------

////
/// @author Manuel Gonzalez
////

/// generator of triangles with up position
/// @param $size [20px]
/// @param $color [#333]
///
@mixin triangle-up($size, $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;		
}