// ----------------------------------------------------------------------

  // Triangle Left

// ----------------------------------------------------------------------

////
/// @author Manuel Gonzalez
////

/// generator of triangles with left position
/// @param $size [20px]
/// @param $color [#333]
///
@mixin triangle-left($size, $color) {
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;	
	border-right: $size solid $color;	
}