// ----------------------------------------------------------------------

  // Triangle Bottom

// ----------------------------------------------------------------------

////
/// @author Manuel Gonzalez
////

/// generator of triangles with bottom position
/// @param $size [20px]
/// @param $color [#333]
///
@mixin triangle-bottom($size, $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;		
}