// Calculate column width fixed
//
// @param $col-qty
// @param $type (normal | big)
//
// calc-col-fixed($col-qty);
//

@function calc-col-fixed($col-qty, $type: "normal", $width: 0, $gutter: 0) {
	@if $type == "normal" {
		$width: map-fetch($config-grid, grid col-width);
		$gutter: map-fetch($config-grid, grid gutter);
	} @else if $type == "big" {
		$width: map-fetch($config-grid, grid big-col-width);
		$gutter: map-fetch($config-grid, grid big-gutter);
	}

	@return ($width * $col-qty) + ($gutter * $col-qty) - $gutter;
}