$miniscss-paths: (
	'img'    : "../img/",
	'fonts'  : "../fonts/"
) !default;

$miniscss-font-family: (
	'text'      : arial,
	'titles'    : arial,
	'subtitles' : arial
) !default;

$miniscss-font-sizes: (
	'normal' : 16px,
	'small'  : 14px
) !default;


$miniscss-colors: (
	'base' : green,
	'text' : black
) !default;

// By default name
// of variables of
// colors and paths.
$miniscss-color-map-name: $miniscss-colors !default;
$miniscss-path-map-name: $miniscss-paths !default;

// Generate styles to
// adjusts default values.
$miniscss-gen-default-styles: true !default;
