//
// Variables:
// if you want edit the grid config.
//
// $config-grid: (
//   grid: (
// 		col-qty       : 12,
// 		col-width     : 60px,
// 		gutter        : 20px,
// 		big-col-width : 70px,
// 		big-gutter    : 30px	
// 	)	
// );
$paths: (
	img    : "../img/",
	sprite : "../img/sprite.png",
	fonts  : "../fonts/"
) !default;

$colors: (
	black: #000,
	white: #fff
) !default;

$fonts: (
	text      : arial,
	titles    : arial,
	subtitles : arial,
	sizes: (
		normal : 16px,
		small  : 14px
	)
) !default;