//
// Variables:
// Use @function map-fetch($map, $keys)
// for configuration variables.

$config-grid: (
  big-desktop: 85rem,
  desktop: 64rem,
  responsive: 63.9375rem,
  from-tablet-to-desktop: 37.5rem,
  tablet: 37.5rem,
  mobile: 15rem, 
  grid: (
		col-qty: 12,
		col-width: 3.75rem,
		gutter: 1.25rem,
		big-col-width: 4.375rem,
		big-gutter: 1.875rem	
	)
);

$ratios: (
	retina-5k: 5,
	retina-3k: 3,
	retina-2k: 2,
	medium-15k: 1.5,
	medium-13k: 1.3,
	low: 1		
);

$paths: (
	img: "../img/",
	sprite: "../img/sprite.png",
	fonts: "../fonts/"
);